# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesize
.ruff_cache

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
quality_reports/
*.egg-info/
.installed.cfg
*.egg

# Databricks
.databricks-connect
.env.temp
.vscode/
.databricks

# dbt
**/dbt_packages/
**/target/
**/logs/
**/package-lock.yml

# Data
data/
*/implementations/polars/data/